html{
    font-family: 'Nunito', open-sans;
}
.vertical-center {
    /*min-height: 80%; !* Fallback for browsers do NOT support vh unit *!*/
    /*min-height: 80vh; !* These two lines are counted as one :-)       *!*/

    height: auto;

    display: flex;
    align-items: center;
}

.card {
    width: 75%;
    margin-top: 20px;
    padding: 20px;
}

table{
    width: 90%;
    margin:10px;
}

form{
    width: 100%;
}

td{
    width: 40%;
    height: 50px;
}

select{
    height: 30px;
}

td input{
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightgrey;
}



